Source: switchboard-plug-datetime
Section: x11
Priority: optional
Maintainer: Corentin Noël <corentin@elementaryos.org>
Build-Depends: cmake,
               debhelper (>= 9),
               libgranite-dev,
               libswitchboard-2.0-dev,
               valac (>= 0.22)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/switchboard-plug-datetime

Package: switchboard-plug-datetime
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, laptop-detect
Enhances: switchboard
Description: Date & Time plug for Switchboard
 This plug configures system time and date.

Package: switchboard-plug-datetime-dbg
Architecture: any
Section: debug
Priority: extra
Depends: switchboard-plug-datetime (= ${binary:Version}), ${misc:Depends}
Enhances: switchboard-plug-datetime
Description: Date & Time plug for Switchboard (debugging symbols)
 This plug configures system time and date.
 .
 This package contains debugging symbols for switchboard-plug-datetime.
