button.auto-timezone:checked {
    color: @GRAPE_500;
    -gtk-icon-shadow: 0 1px 2px @GRAPE_300;
}

button.auto-timezone.unrounded {
    border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
}